/* 
    Style Général du site
*/
body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    
    #content{
        position: relative;
        max-width: 95%;
        max-height: 95%;
        min-height: 95%;
        min-width: 95%;
        overflow-y: scroll;
        overflow-x: hidden;

        h2{
            font-family: "Space Age";
            color: white;
            text-align: center;
        }

        h3{
            font-family: "Space Age";
            font-size: 0.8em;
        }

        a{
            color: inherit;
        }
    }
    /* Header du site */
    header{
        width: 95vw;
        height: 95vh;
        padding: 1%;
        
        //temp
        // background-color: red;    
    }

    
    // main{
        //temp
        // height: 400px;
    // }

    // footer{
    //     //temp
    //     height: 400px;
    // }

    /* Expérience Pro */
    #xp_pro{
        .card{
            .logo-track{
                animation-duration: 10s;
                .logo{
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
}
