@charset "UTF-8";
/* 
    Style Général du site
*/
body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  /* Header du site */
  /* Expérience Pro */
}
body #content {
  position: relative;
  max-width: 95%;
  max-height: 95%;
  min-height: 95%;
  min-width: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid white;
}
body #content h2 {
  font-family: "Space Age";
  color: white;
  text-align: center;
}
body #content h3 {
  font-family: "Space Age";
  font-size: 0.8em;
}
body #content a {
  color: inherit;
}
body header {
  width: 95vw;
  height: 95vh;
  padding: 1%;
}
body #xp_pro .card .logo-track {
  animation-duration: 10s;
}
body #xp_pro .card .logo-track .logo img {
  width: 30px;
}