#projects .horizontal {
  background-color: transparent;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5em;
  padding-bottom: 5em;
  counter-reset: project;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 1.5em;
  align-items: stretch;
  overflow-x: scroll;
}
#projects .horizontal .popover {
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid #000;
  padding: 24px;
  border: 5px solid white;
  box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 45%;
  max-width: 100vw;
  min-width: 350px;
  margin-right: 0;
  border-radius: 20px 0 0 20px;
  border-right: 0;
}
#projects .horizontal .popover md {
  margin: 16px 0 0 0;
  line-height: 1.4;
  color: white;
  text-align: left;
}
#projects .horizontal .popover .close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  background: transparent;
  line-height: 0.8;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding: 0;
}
#projects .horizontal .popover h2 {
  margin: 0 0 12px 0;
  font-size: 1.2rem;
}
#projects .horizontal .popover p {
  margin: 0 0 16px 0;
  line-height: 1.4;
  color: white;
}
#projects .horizontal .popover .slider {
  max-height: 500px;
}
#projects .horizontal .project {
  counter-increment: project;
  position: relative;
  border-radius: 10px;
  padding: 1em;
  width: 300px;
  text-align: center;
  padding-top: 5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid white;
  min-width: 350px;
}
#projects .horizontal .project p {
  text-align: left;
}
#projects .horizontal .project img {
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
#projects .horizontal .project > img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
#projects .horizontal .project h3 {
  color: white;
}
#projects .horizontal .project::before {
  content: counter(project, decimal-leading-zero);
  top: 5px;
  /*! width: 100%; */
  /*! height: 100%; */
  opacity: 1;
  font-size: 4em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0;
  transition: opacity 0.3s ease;
  /*! color: white; */
  z-index: 100;
  position: absolute;
  /*! top: 10; */
  left: 5px;
}

@media screen and (max-width: 420px) {
  #projects .horizontal .project {
    min-width: 80vw;
  }
}
@media (max-width: 768px) {
  #projects .horizontal .popover {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0 0 0 0;
    background: rgba(0, 0, 0, 0.95);
  }
  #projects .horizontal .popover .close-btn {
    right: 15px;
    left: auto;
  }
}